body {
	background: #3A6682;
}

body:before { 
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
   
header {
	top: 0;
	height: 39px;
	border-color: black;
    background-color: #ddd;
	min-width: 980px;
	opacity: 1;
	padding-right: 100px;
}

header:before { 
   content: "";
   position: absolute;
   top: 30px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: -10;
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

#appName {
	float: right;
	text-decoration: none;
	font: 35px Helvetica, Arial, Sans-Serif;
	letter-spacing: 0px;
	text-align: center;
	color: #2A2A2A;
	text-shadow: 0px 4px 4px #999;
}

#pathContainer {
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	padding: 5px;
	padding-left: 10px;
}

.pathItem, .pathItemEnd {
	float:left;
	padding: 0px;
	color: #ddd;
	background-color: #3A6682;
	border: 1px solid #333;
	position: relative;
	text-align: center;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 2px;
	border-radius: 4px;
}

.pathItem:hover {
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.pathItem:after, .pathItem:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	left: 100%;
	position: absolute;
	width: 0;
}

.pathItem:before {
	border-width: 9px;
	border-left-color: #333;

	top: 4px;
	z-index: 10;
}

.pathItem:after {
	border: 7px solid transparent;
	border-left-color: #3A6682;
	
	top: 6px;
	z-index: 10;
}

.left {
	float: left;
}

.viewportBox {
    width: 960px;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

.viewportContainer {
	width: 1940px;
	left: 0px;
    margin: 30px;
}

.viewport {
	position: relative;
	display: inline;
	float: left;
	width: 960px;
	max-width: 960px;
	min-width: 600px;
	padding: 5px;
}

.listBox {
  position: relative;
  width: 50%;
  background: #ddd;
  border-radius: 4px;
  padding: 1.5em 1.5em;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin:30px 30px 30px 30px;
}

.listBox:before, .listBox:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);    
  -moz-transform: rotate(-3deg);   
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.listBox:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.listBoxHeader {
	width: 100%;
	text-decoration: none;
	font: 15px Helvetica, Arial, Sans-Serif;
	letter-spacing: 2px;
	color: #3A6682;
	text-shadow: 1px 1px 1px #fff;
	margin: 0px 10px 10px 0px;
}

.sets {
	margin: 0;
	padding: 0;
	width: 100%;
	top: 35px;
	left: 0;
	cursor: pointer;
}

.sets li {
	list-style: none;
	float: none;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.sets li:hover, .setsSelected {
	color: #ddd;
	background-color: #3A6682;
	text-shadow: 1px 1px 1px #000;
	border-radius: 4px;
}

table {
	width: 100%;
}

table thead th {
    padding:6px 10px;
    text-transform:uppercase;
    color:#444;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    border-bottom:5px solid #444;
}

table thead th:empty {
    background:transparent;
    border:none;
}

table thead :first-child,
table tfoot :first-child {
    background-color: #7FD2FF;
}

table tfoot :first-child {
    -moz-border-radius:0px 0px 0px 5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
}

table thead :first-child {
    -moz-border-radius:5px 0px 0px 0px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}

table thead :last-child,
table tfoot :last-child {
    background-color: #7FD2FF;
}

table thead :last-child {
    -moz-border-radius:0px 5px 0px 0px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
}

table tfoot :last-child {
    -moz-border-radius:0px 0px 5px 0px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}

table tfoot td{
    font-size:38px;
    font-weight:bold;
    padding:15px 0px;
    text-shadow:1px 1px 1px #fff;
}

table tbody td{
    padding: 10px;
}

table tbody tr td {
    background-color:#444;
    color:#444;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(189,189,189)),
        color-stop(0.7, rgb(224,224,224))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(189,189,189) 39%,
        rgb(224,224,224) 70%
        );
    text-shadow:1px 1px 1px #fff;
    text-align: center;
}

table tr:hover td {
    background-color:#3A6682;
    color:#ddd;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, #4A7692),
        color-stop(0.7, #3A6682)
        );
    background:-moz-linear-gradient(
        center bottom,
        #3A6682 39%,
        #3A6682 70%
        );
    text-shadow:1px 1px 1px #000;
}

.item {
    cursor: move;
}

canvas {
	position: fixed;
	top: -80px;
	right: -110px;
	-webkit-transform:rotate(-132deg);
}

.buttonImage, 
.buttonImageLarge {
	width: 24px;
	margin: 2px;
}

.buttonImageLarge {
	width: 32px;	
}

.buttonImage:hover, 
.buttonImageLarge:hover {
	width: 28px;
	margin: 0px;
}

.buttonImageLarge:hover {
	width: 36px;
}

.ui-widget-header {
	border: 1px solid #7FD2FF;
	background: #3A6682;
}

.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus { 
	border: 1px solid #7FD2FF;
	background: #ddd;
	color: #3A6682;
}

.ui-state-hover .ui-icon, 
.ui-state-focus .ui-icon {
	background-image: url(../js/libs/jquery-ui-1.8.23.custom/css/ui-lightness/images/ui-icons_228ef1_256x240.png); 
}

.ui-widget label {
	line-height: 1.6;
}

.popupErrorMessage {
	width: 100%;
	float: left;
	font-size: 0.8em;
	color: red;
}

.ui-widget button {
	float: right;
	margin-top: 15px;
}
